<!-- skill.template.html -->
<div class="host">
    <my-title>Skill</my-title>
    <div class="item-wrapper">
        <template is="dom-repeat" items="[[items]]">
            <my-skill-item 
                name="{{item.name}}"
                url="{{item.url}}"
            ></my-skill-item>
        </div>
    </div>
    <style>

        .host {
            align-items       : center;
            box-sizing        : border-box;
            display           : flex;
            flex-direction    : column;
            justify-content   : center;
            min-height        : 100vh;
            padding           : 1rem;
            width             : 100%;
        }

        .item-wrapper {
            align-items    : center;
            display        : flex;
            flex-wrap      : wrap;
            justify-content: center;
            width          : 100vw;
        }
    </style>
</div>
