<!-- button.template.html -->
<div class="host">
    <slot></slot>
    <style>
        .host {
            -moz-user-select   : none;
            -webkit-user-select: none;
            -ms-user-select    : none;
            align-items     : center;
            background-color: rgba(0, 0, 0, .02);
            border          : 1px solid #aaa;
            border-radius   : 2px;
            cursor          : pointer;
            display         : inline-flex;
            font-size       : 1.2rem;
            justify-content : center;
            min-width       : 4rem;
            padding         : 0.3rem 1rem;
            transition      : all .3s ease;
        }

        .host:hover {
            background-color: rgba(106, 140, 199, .04);
            border          : 1px solid #6A8CC7;
            color           : #6A8CC7;
        }
    </style>
</div>
