<!-- skill-item.template.html -->
<div class$="host {{ class }}">
    <div class="image-wrapper">
        <div
            class="image"
            style$="background-image: url( {{ url }} );"
        ></div>
    </div>
    <style>
        .host {
            align-items     : center;
            border-radius   : 50%;
            box-shadow      : 1px 1px 2px 1px rgba(0,0,0,.2);
            display         : flex;
            height          : 10rem;
            justify-content : center;
            margin          : 2rem;
            position        : relative;
            transition      : all .6s ease-out;
            transition-delay: .8s;
            width           : 10rem;
        }

        .host:not(.view) {
            opacity  : 0;
            transform: translateY(1.5rem);
        }

        .host.view {
            bottom : 0;
            transform: translateY(0);
        }

        .image-wrapper {
            transform: rotate(-45deg);
            border   : 1px solid rgba(72, 242, 227, .5);
        }

        .image {
            background-position:center top;
            background-repeat  :no-repeat;
            background-size    :cover;
            border             : 1px solid rgba(72, 242, 227, .5);
            height             : 6rem;
            transform          : rotate(45deg);
            width              : 6rem;
            -moz-background-size:cover;
        }
    </style>
</div>
    