<!-- header.template.html -->
<div class$="host {{ headerClass }}">
    <div>
        <div on-click="onHomeClick">
            SGNZ Portfolio
        </div>
    </div>
    <nav>
        <div on-click="onActivitiesClick">Activities</div>
        <div on-click="onProductsClick">Products</div>
        <div on-click="onSkillsClick">Skills</div>
        <div on-click="onContactClick">Contact</div>
    </nav>

    <style>
        .host {
            animation-name     : SlideIn;
            animation-delay    : 4s;
            animation-duration : 0.5s;
            animation-fill-mode: forwards;
            align-items        : center;
            background-color   : rgba(0,0,0,.05);
            color              : #333;
            display            : flex;
            height             : 3.5rem;
            left               : 0;
            padding            : 0 2rem;
            position           : fixed;
            right              : 0;
            top                : -4rem;
            transition         : all .4s ease;
            z-index            : 1;
        }

        .host > :first-child {
            flex-grow: 1;
            font-size: 1.6rem;
        }

        .host > :first-child > * {
            cursor    : pointer;
            width     : -moz-fit-content;
            width     : -webkit-fit-content;
            width     : fit-content;
        }

        nav {
            align-items    : center;
            display        : flex;
            font-size      : 1.2rem;
            justify-content: center;
            letter-spacing : 0.2rem;
        }

        nav > div {
            border-bottom: 1px solid transparent;
            cursor       : pointer;
            display      : inline-flex;
            margin       : 0 1rem;
            text-align   : center;
            transition   : all .3s ease;
        }

        nav > div:hover {
            border-bottom: 1px solid white;
            color        : rgba(106, 140, 199, 1);
        }

        :not(.top).middle nav > div:hover {
            color: white;
        }

        .host.middle {
            background-color: rgba(0,0,0,0.5);
            color           : #fff;
            position        : fixed;
        }

        @keyframes SlideIn {
            from {
                top : -4rem;
            }
            to {
                top : 0rem;
            }
        }

        @media (max-width: 767px) {
            .host {
                padding: 1rem;
                top    : -5.2rem;
            }
            
            nav {
                letter-spacing : initial;
            }

            nav > :nth-child(n + 4) {
                display: none;
            }

            @keyframes SlideIn {
                from {
                    top : -5.2rem;
                }
                to {
                    top : 0rem;
                }
            }
        }
        
    </style>
</div>
