<!-- title.template.html -->
<div class="host">
    <slot></slot>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Lato');
        .host {
            align-items    : center;
            border-bottom  : 1px solid rgba(72, 242, 227, .5);
            display        : inline-flex;
            font-family    : 'Lato', sans-serif;
            font-size      : 1.5rem;
            justify-content: center;
            letter-spacing : 0.2rem;
            margin         : 2rem 0;
            padding-bottom : 0.4rem;
        }
    </style>
</div>
