<!-- activities.template.html -->
<div class="host">
    <my-title>Activities</my-title>
    <div>
        <div>
            <div>contest</div>
            <ul class="list">
                <template is="dom-repeat" items="[[ items.contest ]]">
                    <li class="item">
                        {{ item.name }}
                    </li>
                </template>
            </ul>
        </div>
        <div>
            <div>capacity</div>
            <ul class="list">
                <template is="dom-repeat" items="[[ items.capacity ]]">
                    <li class="item">
                        {{ item }}
                    </li>
                </template>
            </ul>
        </div>
    </div>
    <div class="item-wrapper">
        <template is="dom-repeat" items="[[ items.image ]]">
            <my-inview>
                <a
                    href="{{ item.link }}"
                    rel="noopener"
                    target="_blank"
                >
                    <img src="{{ item.image }}">
                    <div class="description">
                        <div>{{ item.year }}</div>
                        <div>{{ item.name }}</div>
                    </div>
                </a>
            </my-inview>
        </template>
    </div>

    <style>
        @import url('https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css"');
        
        .host {
            align-items    : center;
            box-sizing     : border-box;
            display        : flex;
            flex-direction : column;
            justify-content: initial;
            margin-bottom  : 3rem;
            padding        : 1rem 0;
            width          : 100vw;
        }

        .host > :nth-child(2) {
            display: flex;
            margin : 1rem 2rem 5rem 2rem;
        }

        .host > :nth-child(2) > div > :first-child {
            font-size : 1.4rem;
            text-align: center;
        }

        .list {
            padding: 0 2rem;
        }

        .item {
            display        : block;
            font-family    : 'Rounded Mplus 1c', serif;
            letter-spacing : .06rem;
            list-style-type: none;
            margin         : .2rem;
        }

        .item-wrapper {
            align-items          : center;
            display              : grid;
            grid-template-columns: repeat(auto-fit, 33.3333vw);
            justify-content      : center;
            justify-items        : center;
            width                : 100vw;
        }

        .item-wrapper > my-inview {
            align-items    : center;
            cursor         : pointer;
            display        : flex;
            justify-content: center;
            overflow       : hidden;
            position       : relative;
        }

        my-inview > a {
            align-items: center;
            display: flex;
            justify-content: center;
            overflow: hidden;
        }

        img {
            height: auto;
            width : calc(100% - 4px);
            margin: 2px 0;
        }

        .description {
            align-items      : flex-end;
            background-color : rgba(0,0,0,.6);
            bottom           : 2px;
            color            : white;
            display          : flex;
            flex-direction   : column;
            height           : -moz-min-content;
            height           : -webkit-min-content;
            height           : min-content;
            justify-content  : center;
            left             : 2px;
            opacity          : 1;
            padding          : 1rem 0; 
            position         : absolute;
            transition       : all .3s ease-out;
            white-space      : nowrap;
            width            : calc(100% - 4px);
        }

        .description > div {
            margin-right: 1rem;
        }

        .description > :first-child {
            font-size: 1.2rem;
        }

        .description > :last-child {
            font-size: 1.5rem;
        }

        *:hover > .description {
            bottom : -11%;
            opacity: 0;
        }

        @media (max-width: 1020px) and (min-width: 768px) { 
            .item-wrapper {
                grid-template-columns: repeat(auto-fit, 50vw);
            }
        }

        @media (max-width: 767px) {
            .item-wrapper {
                grid-template-columns: repeat(auto-fit, 100vw);
            }

            .host > :nth-child(2) {
                flex-direction: column;
            }
        }

    </style>
</div>
