<!-- avatar.template.html -->
<div class="host">
    <div class="box">
        <div class="avatar"/>
    </div>
    <style>
        .host {
            height: 12rem;
            margin: 5rem;
            width : 12rem;
        }

        .box {
            background-color: rgba(106, 140, 199, 0.6);
            height          : 12rem;
            position        : relative;
            transform       : rotate(-45deg);
            width           : 12rem;
        }

        .avatar {
            background-image   :url(/static/image/avatar/nozomi-sugiyama.jpg);
            background-position:center top;
            background-repeat  :no-repeat;
            background-size    :cover;
            background-color   : rgba(106, 140, 199, 0.6);
            box-shadow         : 2px 2px 3px 0px rgba(0,0,0,.2);
            height             : 12rem;
            transform          : rotate(45deg);
            width              : 12rem;
            -moz-background-size:cover;
        }
    </style>
</div>
