<!-- self.template.html -->
<div class$="host {{ hostClass }}">
    <div>
        <my-avatar></my-avatar>
        <div class="text-content">
            <div>Nihon Kogakuin College Hachioji Campus</div>
            <div class="name">Nozomi Sugiyama</div>
        </div>
    </div>
    <div class="page-transition">
        <div on-click="onActivitiesClick">
            <div></div>
        </div>
    </div>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Playfair+Display');

        .host {
            display       : flex;
            flex-direction: column;
            font-family   : 'Playfair Display', serif;
            height        : calc(100vh - 8rem);
            padding       : 8rem 8rem 0 8rem;
            min-height    : -moz-max-content;
            min-height    : -webkit-max-content;
            min-height    : max-content;
            position      : relative;
            top           : -40rem;
        }

        .host.loadend {
            animation-name           : SlideIn;
            animation-delay          : 1s;
            animation-duration       : 1.6s;
            animation-timing-function: ease-out;
            animation-fill-mode      : forwards;   
        }

        .host > :first-child {
            align-items    : center;
            display        : flex;
            flex-grow      : 5;
            font-family    : 'Playfair Display', serif;
            justify-content: center;
        }

        my-avatar {}

        .text-content {
            max-width  : -moz-max-content;
            max-width  : -webkit-max-content;
            max-width  : max-content;
            overflow   : hidden;
            white-space: nowrap;
            width      : 0%;
        }

        .host.loadend .text-content {
            animation-name           : Appearance;
            animation-delay          : 3s;
            animation-duration       : 1s;
            animation-fill-mode      : forwards;
            animation-timing-function: ease-in-out;
        }

        .name {
            font-size: 3rem;
        }

        .page-transition {
            align-items              : flex-end;
            display                  : flex;
            flex-grow                : 1;
            justify-content          : center;
            margin                   : 2rem;
            opacity                  : 0;
            position                 : relative;
        }

        .host.loadend .page-transition {
            animation-name           : FadeIn;
            animation-delay          : 4s;
            animation-duration       : .5s;
            animation-fill-mode      : forwards;
            animation-timing-function: ease-in-out;
        }

        .page-transition > div {
            background-color: transparent;
            border-radius   : 50%;
            cursor          : pointer;
            height          : 5rem;
            margin          : 2rem;
            width           : 5rem;
        }

        .page-transition > div > div {
            border-left  : 2px solid #333;
            border-bottom: 2px solid #333;
            bottom       : 0;
            height       : 2rem;
            transform    : rotate(-45deg);
            transition   : all .4s ease;
            width        : 2rem;
            margin       : 1.5rem;
            position     : relative;
        }

        .page-transition > div:hover > div{
            bottom: 0.3rem;
        }

        @keyframes SlideIn {
            from {
                top : -40rem;
            }
            to {
                top : 0rem;
            }
        }


        @keyframes Appearance {
            from {
                width: 0%;
            }
            to {
                width: 100%;
            }
        }

        @keyframes FadeIn {
            from {
                bottom : -2rem;
                opacity: 0;
            }
            to {
                bottom : 0;
                opacity: 1;
            }
        }

        @media (max-width: 977px) {
            .host {
                height : calc(100vh - 4rem);
                padding: 3rem 1rem 0 1rem;
            }

            .host > :first-child {
                flex-direction: column;
            }

            .text-content {
                margin: 0 0 2rem 0;
            }
        }
    </style>
</div>
    