<!-- footer.template.html -->
<div class="host">
    <div>
        Created by NozomiSugiyama with Polymer 3
    </div>
    <div>
        https://github.com/NozomiSugiyama/portfolio-light
    </div>
    <style>
        .host {
            background-color: rgba(106, 140, 199, 1);
            color           : white;
            display         : inline-flex;
            font-size       : .7rem;
            justify-content : space-around;
            width           : 100vw;
            padding         : 1rem 2rem;
        }

        @media (max-width: 767px) {
        }
    </style>
</div>
