
<!-- footer.template.html -->
<div class="host">
    <div>
        Created by NozomiSugiyama with Polymer 3
    </div>
    <a
        href="https://github.com/NozomiSugiyama/portfolio-light"
        rel="noopener"
        target="_blank"
    >
        NozomiSugiyama/portfolio-light
    </a>

    <style>
        .host {
            background-color: rgba(106, 140, 199, 1);
            box-sizing      : border-box;
            color           : white;
            display         : inline-flex;
            font-size       : .7rem;
            justify-content : space-around;
            width           : 100vw;
            padding         : .5rem 2rem;
        }
        a {
            color: white;
        }
        @media (max-width: 767px) {

        }
    </style>
</div>
