<!-- app.template.html -->
<div name="host" class="host" id="host">
    <my-header
        on-home-clicked="toTop"
        on-activities-clicked="toActivitiesSection"
        on-skills-clicked="toSkillsSection"
        on-products-clicked="toProductsSection"
        on-contact-clicked="toContactSection"
    ></my-header>
    <my-self
        on-activities-clicked="toActivitiesSection"
    ></my-self>
    <my-activities id="activities"></my-activities>
    <my-products id="products"></my-products>
    <my-skills   id="skills"></my-skills>
    <my-contact id="contact"></my-contact>
    <my-footer></my-footer>
    <style>
        @import url('https://fonts.googleapis.com/css?family=PT+Serif');
        @import url('https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css"');

        * {
            font-family: 'Rounded Mplus 1c', 'PT Serif', serif;
        }
    </style>
</div>
