<!-- app.template.html -->
<div name="host" class="host" id="host">
    <my-header
        on-home-clicked="toTop"
        on-skill-clicked="toSkillSection"
        on-product-clicked="toProductSection"
        on-contact-clicked="toContactSection"
    ></my-header>
    <my-self
        on-skill-clicked="toSkillSection"
        on-product-clicked="toProductSection"
        on-contact-clicked="toContactSection"
    ></my-self>
    <my-skill   id="skill"></my-skill>
    <my-product id="product"></my-product>
    <my-contact id="contact"></my-contact>
    <style>
    </style>
</div>
