<!-- technology.template.html -->
<my-inview>
    <div class="content">
        <div class="image-wrapper">
            <div
                class="image"
                style$="background-image: url( {{ url }} );"
            ></div>
        </div>
    </div>
    <style>
        .content {
            align-items     : center;
            background-color: white;
            border-radius   : 50%;
            box-shadow      : 1px 1px 2px 1px rgba(0,0,0,.2);
            display         : flex;
            justify-content : center;
            margin          : 2rem;
            transition      : all .6s ease-out;
            transition-delay: .8s;
            width : var(--my-technology-width);
            height: var(--my-technology-height);
        }

        .image-wrapper {
            transform: rotate(-45deg);
            border   : 1px solid rgba(72, 242, 227, .5);
            height   : 60%;
            width    : 60%;
        }

        .image {
            background-position:center top;
            background-repeat  :no-repeat;
            background-size    :cover;
            border             : 1px solid rgba(72, 242, 227, .5);
            height             : 100%;
            transform          : rotate(45deg);
            width              : 100%;
            -moz-background-size:cover;
        }
    </style>
</div>
